*
  box-sizing border-box

div.row
  -webkit-user-select: none;
  -moz-user-select: none;

  clear both
  width auto
  overflow auto

  div.cell
    float left
    height 1.5em
    font-size 1.2em
    padding 2px 0.2em 0 0.2em
    width 4em
    margin 1px

    &:first-child
      clear both

    border 1px solid blue

    &:not(.editing)
      overflow hidden

    &.editing
      padding 0

      input
        padding 2px 0.2em 0 0.2em
        background-color greenyellow
        display block
        width 100%
        height inherit
        border none
        outline none
        display block
        position relative

    &.selected
      border-color pink

    &.range
      background-color: rgba(100, 100, 100, 0.2)

    &.formulaerror
      background-color: #EBD4A1
    &.calcerror
      background-color: #FFACAC
    &.calculating
      background-color: #A1CAEB
