@import './themes'

#spreadsheet
  text-align center

  *
    box-sizing border-box
  
  .top
    padding 1px
  
    input
      width 100%
  
  .sheet
    margin-top 4px
    border-collapse collapse
  
  .row
    -webkit-user-select: none;
    -moz-user-select: none;
  
    clear both
    width 100%
    overflow hidden
    white-space nowrap

    ::-webkit-scrollbar
      display none
  
  .cell
    position relative
    white-space normal
    font-size 1em
    word-break break-word
    padding 0
    margin 0 0 -4px 0
    overflow hidden
    width 60px
    height 26px
    border 1px solid $default-cell-border
    border-color var(--cell-border)
    z-index 1

    .text
      cursor: default
      padding 2px 0.2em 0 0.2em
      overflow overlay
      text-overflow clip
      width 100%
      height 100%
      overflow -moz-scrollbars-none
  
    &.selected
      border-color $default-selected-border-color
      background-color alpha($default-selected-border-color, 0.1)
      border-color var(--selected-border-color)
      background-color var(--selected-background-color)
      border-width 1.5px

    &.dependency
      border-color $default-dependency-border-color
      border-color var(--dependency-border-color)
      background-color alpha($default-dependency-border-color, 0.4)
      background-color var(--dependency-background-color)
      border-width 2px
      border-style dotted
  
    &.editing
      padding 0
      overflow visible
      z-index 2
      overflow overlay
      width 100%
  
    input
      padding 2px 0.2em 0 0.2em
      background-color $default-input-background-color
      background-color var(--input-background-color)
      width 100%
      height 100%
      border none
      word-break normal
      outline none
      display block
  
    &.selectArea
      background-color $default-selectarea-background-color
      background-color var(--selectarea-background-color)
    &.handleArea:not(.selectArea):not(.selected)
      background-color $default-handlearea-background-color
      background-color var(--handlearea-background-color)
  
    &.formulaerror
      background-color #EBD4A1
    &.calcerror
      background-color #FFACAC
    &.calculating
      background-color #A1CAEB

  .cell.static
    .resizer
      display inline
      position absolute
      opacity 0

    &.top .resizer
      cursor col-resize
      height 100%
      width 4px
      top 0
      &.first
        left 1px
      &.last
        right 1px
    &.left .resizer
      cursor row-resize
      height 4px
      width 100%
      left 0
      &.first
        top 1px
      &.last
        bottom 1px

.handle
  width 5px
  height 5px
  position absolute
  bottom 0
  right 0
  background-color darken($default-cell-border, 10)
  background-color var(--dark-cell-border)
  
.copy-paste
  display block
  position absolute
  right 0
  bottom 0
  width 1px
  height 1px
  z-index 18
  overflow hidden
