.coup-de-grace
  /* http://www.colourlovers.com/palette/1098589/coup_de_grâce */
  $cell-border = #99B898
  $selected-border-color = #E84A5F
  --cell-border: $cell-border
  --dark-cell-border: darken($cell-border, 10)
  --selected-border-color: $selected-border-color
  --selected-background-color: alpha($selected-border-color, 0.1)
  --dependency-border-color: #FECEA8
  --input-background-color: #FF847C
  --selectarea-background-color: alpha(#2A363B, 0.2)
  --handlearea-background-color: lighten($cell-border, 25)

.ocean-five
  /* http://www.colourlovers.com/palette/1473/Ocean_Five */
  $cell-border = #00A0B0
  $selected-border-color = #EDC951
  --cell-border: $cell-border
  --dark-cell-border: darken($cell-border, 10)
  --selected-border-color: $selected-border-color
  --selected-background-color: alpha($selected-border-color, 0.4)
  --dependency-border-color: #CC333F
  --input-background-color: lighten(#EB6841, 20)
  --selectarea-background-color: alpha(#6A4A3C, 0.2)
  --handlearea-background-color: lighten($cell-border, 25)

.mellon-ball-surprise
  /* http://www.colourlovers.com/palette/373610/mellon_ball_surprise */
  $cell-border = #F56991
  $selected-border-color = #D1F2A5
  --cell-border: $cell-border
  --dark-cell-border: darken($cell-border, 10)
  --selected-border-color: $selected-border-color
  --selected-background-color: alpha($selected-border-color, 0.5)
  --dependency-border-color: #EFFAB4
  --input-background-color: #FFC48C
  --selectarea-background-color: alpha(#D1F2A5, 0.7)
  --handlearea-background-color: lighten($cell-border, 25)

.vintage-modern
  /* http://www.colourlovers.com/palette/110225/Vintage_Modern */
  $cell-border = #8C2318
  $selected-border-color = #F2C45A
  --cell-border: $cell-border
  --dark-cell-border: darken($cell-border, 10)
  --selected-border-color: $selected-border-color
  --selected-background-color: alpha($selected-border-color, 0.4)
  --dependency-border-color: #88A65E
  --input-background-color: #BFB35A
  --selectarea-background-color: alpha(#5E8C6A, 0.6)
  --handlearea-background-color: lighten($cell-border, 25)

.newly-risen-moon
  /* http://www.colourlovers.com/palette/90734/Newly_Risen_Moon */
  $cell-border = #45484B
  $selected-border-color = #C5BC8E
  --cell-border: $cell-border
  --dark-cell-border: #36393B
  --selected-border-color: $selected-border-color
  --selected-background-color: alpha($selected-border-color, 0.5)
  --dependency-border-color: #36393B
  --input-background-color: alpha(#696758, 0.2)
  --selectarea-background-color: #EEE6AB
  --handlearea-background-color: lighten(#696758, 17)
