$default-cell-border = #438EC3
$default-selected-border-color = rgb(236, 114, 67)
$default-dependency-border-color = #f5f582
$default-input-background-color = rgba(245, 119, 38, 0.3)
$default-selectarea-background-color = rgba(100, 100, 100, 0.2)
$default-handlearea-background-color = rgba(0, 211 , 113, 0.3)

:root
  /* default theme for browsers that do support CSS variables */
  --cell-border: $default-cell-border
  --dark-cell-border: darken($default-cell-border, 10)
  --selected-border-color: $default-selected-border-color
  --selected-background-color: alpha($default-selected-border-color, 0.1)
  --dependency-border-color: $default-dependency-border-color
  --dependency-background-color: alpha($default-dependency-border-color, 0.4)
  --input-background-color: $default-input-background-color
  --selectarea-background-color: $default-selectarea-background-color
  --handlearea-background-color: $default-handlearea-background-color

.coup-de-grace
  /* http://www.colourlovers.com/palette/1098589/coup_de_grâce */
  $cell-border = #99B898
  $selected-border-color = #E84A5F
  $dependency-color = #FECEA8
  --cell-border: $cell-border
  --dark-cell-border: darken($cell-border, 10)
  --selected-border-color: $selected-border-color
  --selected-background-color: alpha($selected-border-color, 0.1)
  --dependency-border-color: $dependency-color
  --dependency-background-color: alpha($dependency-color, 0.4)
  --input-background-color: #FF847C
  --selectarea-background-color: alpha(#2A363B, 0.2)
  --handlearea-background-color: lighten($cell-border, 25)

.ocean-five
  /* http://www.colourlovers.com/palette/1473/Ocean_Five */
  $cell-border = #00A0B0
  $selected-border-color = #EDC951
  $dependency-color = #CC333F
  --cell-border: $cell-border
  --dark-cell-border: darken($cell-border, 10)
  --selected-border-color: $selected-border-color
  --selected-background-color: alpha($selected-border-color, 0.4)
  --dependency-border-color: $dependency-color
  --dependency-background-color: alpha($dependency-color, 0.4)
  --input-background-color: lighten(#EB6841, 20)
  --selectarea-background-color: alpha(#6A4A3C, 0.2)
  --handlearea-background-color: lighten($cell-border, 25)

.mellon-ball-surprise
  /* http://www.colourlovers.com/palette/373610/mellon_ball_surprise */
  $cell-border = #F56991
  $selected-border-color = #D1F2A5
  $dependency-color = #EFFAB4
  --cell-border: $cell-border
  --dark-cell-border: darken($cell-border, 10)
  --selected-border-color: $selected-border-color
  --selected-background-color: alpha($selected-border-color, 0.5)
  --dependency-border-color: $dependency-color
  --dependency-background-color: alpha($dependency-color, 0.4)
  --input-background-color: #FFC48C
  --selectarea-background-color: alpha(#D1F2A5, 0.7)
  --handlearea-background-color: lighten($cell-border, 25)

.vintage-modern
  /* http://www.colourlovers.com/palette/110225/Vintage_Modern */
  $cell-border = #8C2318
  $selected-border-color = #F2C45A
  $dependency-color = #88A65E
  --cell-border: $cell-border
  --dark-cell-border: darken($cell-border, 10)
  --selected-border-color: $selected-border-color
  --selected-background-color: alpha($selected-border-color, 0.4)
  --dependency-border-color: $dependency-color
  --dependency-background-color: alpha($dependency-color, 0.4)
  --input-background-color: #BFB35A
  --selectarea-background-color: alpha(#5E8C6A, 0.6)
  --handlearea-background-color: lighten($cell-border, 25)

.newly-risen-moon
  /* http://www.colourlovers.com/palette/90734/Newly_Risen_Moon */
  $cell-border = #45484B
  $selected-border-color = #C5BC8E
  $dependency-color = #36393B
  --cell-border: $cell-border
  --dark-cell-border: #36393B
  --selected-border-color: $selected-border-color
  --selected-background-color: alpha($selected-border-color, 0.5)
  --dependency-border-color: $dependency-color
  --dependency-background-color: alpha($dependency-color, 0.4)
  --input-background-color: alpha(#696758, 0.2)
  --selectarea-background-color: alpha(#EEE6AB, 0.9)
  --handlearea-background-color: lighten(#696758, 17)
